body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #3d6dc8
}


h1 {
  background-color: #edf6fb;
  color: #3d6dc8;
  margin: .5em auto;
  padding: .5em;
  width: 80%;
  box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
}

#list-view {
  height: 250px;
  margin: auto;
}

#list-locations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: .5em;
  padding: 1em;
  width: 80%;
  padding-left: 0;
  margin: auto;
  list-style-type: none;
}

.list-item {
  background-color: #edf6fb;
  border: white solid;
  box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
  margin-top: .25em;
}

#filter {
  width: 45%;
}


#map {
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
  box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
}


.rideItems {
  display: grid;
  grid-template:
                  "image  name"
                 "image  rating"
                 "image  desc";
  grid-column-gap: 1em;
  grid-row-gap: .5em;
  width: 80%;
  margin: 1em auto 1em;
  margin-top: 1em;
  padding: 1em;
  background-color: #edf6fb;
  box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
}
.rideImg {
  grid-area: image;
}

.rideName {
  grid-area: name;
}

.rideDesc {
  grid-area: desc;
}

.rideRating {
  grid-area: rating;
}

.noRide {
  width: 33%;
  margin: 1em auto 1em;
  padding: 1em;
  background-color:  #edf6fb;
}