body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #edf6fb
}

li {
  height: 20px;
  width: 75%;
  background-color: white;
  margin: auto;
}
#map {
  margin: auto;
}

#filter {
  width: 45%;
  padding: .5em;
  margin: auto;
}

#list-view {
  width: 80%;
  height: 300px;
}

#list-locations {
  height: 80%;
  margin: auto;
  list-style-type: none;
  padding: .25em;
}

