body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #3d6dc8
}


h1 {
  background-color: #edf6fb;
  color: #3d6dc8;
  margin: .5em auto;
  padding: .5em;
  width: 95%;
  box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
}

button:hover, button:focus {
  background-color: #3d6dc8;
  color: #edf6fb;
}

#list-view {
  height: 250px;
  margin: auto;
}

#list-locations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: .5em;
  width: 80%;
  padding-left: 0;
  margin: auto;
  list-style-type: none;
}

.list-item {
  background-color: #edf6fb;
  border: white solid;
  box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
  cursor: pointer;
}

#filterCategories {
  display: block;
  width: 45%;
  margin: 1em auto 1em;
  min-height: 45px;
}

#filterCategories:focus {
  border: #edf6fb solid 2px;
}


#map {
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
  box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
}

#mapError {
  width: 80%;
  height: 100px;
  background-color: #edf6fb;
  box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
  margin: auto;
  padding: 1em;
}

.rideItems {
  display: grid;
  grid-template: "image"
                 "name"
                 "rating"
                 "desc"
                 "attrib"
                 "attribImg";
  grid-column-gap: 1em;
  grid-row-gap: .5em;
  width: 95%;
  margin: 1em auto 1em;
  margin-top: 1em;
  padding: .5em;
  background-color: #edf6fb;
  box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
}
.attributionImage {
  grid-area: attribImg;
  margin: auto;
  max-width: 33%;
}
.rideImg {
  grid-area: image;
  margin: auto;
}

.rideName {
  grid-area: name;
  margin: auto;
}

.rideDesc {
  grid-area: desc;
  margin: auto;
}

.rideRating {
  grid-area: rating;
  margin: auto;
}
.attribution {
  grid-area: attrib;
  margin: auto;
}

.noRide {
  width: 33%;
  margin: 1em auto 1em;
  padding: 1em;
  background-color:  #edf6fb;
}

/*************** Tablets ***************/

@media screen and (min-width: 500px){

  #map {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
  }

  #filterCategoriesCategories {
    display: block;
    max-width: 300px;
    margin: 1em auto 1em;
    min-height: 45px;
  }


  .rideItems {
    display: grid;
    grid-template: "image  name"
                   "image  rating"
                   "image  desc"
                   "attribImg attrib";
    grid-column-gap: 1em;
    grid-row-gap: .5em;
    width: 80%;
    margin: 1em auto 1em;
    margin-top: 1em;
    padding: 1em;
    background-color: #edf6fb;
    box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
  }

  .rideImg {
    grid-area: image;
    margin: 0;
  }

  .rideName {
    grid-area: name;
    margin: 0;
  }

  .rideDesc {
    grid-area: desc;
    margin: 0;
  }

  .rideRating {
    grid-area: rating;
    margin: 0;
  }

  .attributionImage {
    grid-area: attribImg;
    margin: 0;
    max-width: 33%;
  }

  .attribution {
    grid-area: attrib;
    margin: 0;
  }

}

/* Desktops */

@media screen and (min-width: 1024px) {
  #list-locations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: .5em;
    padding: 1em;
    max-width: 80%;
    padding-left: 0;
    margin: auto;
    list-style-type: none;
  }

  .rideItems {
    display: grid;
    grid-template: "image  name"
                   "image  rating"
                   "image  desc"
                   "attribImg attrib";
    grid-column-gap: 1em;
    grid-row-gap: .5em;
    max-width: 800px;
    margin: 1em auto 1em;
    margin-top: 1em;
    padding: 1em;
    background-color: #edf6fb;
    box-shadow: 1px 9px 30px -10px rgba(0,0,0,0.75);
  }

  .rideImg {
    grid-area: image;
    margin: auto;
  }

  .rideName {
    grid-area: name;
    margin: auto;
  }

  .rideDesc {
    grid-area: desc;
    margin: auto;
  }

  .rideRating {
    grid-area: rating;
    margin: auto;
  }

  .attributionImage {
    grid-area: attribImg;
    margin: auto;
    max-width: 33%;
  }

  .attribution {
    grid-area: attrib;
    margin: auto;
  }


}